/* ==========================================================
! 1. Body
========================================================== */

body{
	background: url(../pictures/background.jpg);
	background-color: #4566A8;
	background-attachment: fixed;
	background-repeat: repeat-x;
    background-position: center top;
	background-size: cover;
   	position: relative !important;
	margin-top: 30px;
	margin-left: 30px;
	margin-right: 40px;
    margin-bottom: 80px;
}

/* col-sm-4*/
.col-sm-4{
	float:left;
	width: 30%;
	margin-top: 0px;
	padding-top: 65px;
	padding-left: 50px;
}

/* col-sm-5*/
.col-sm-5{
	float:right;
	padding-top: 50px;
}

/* ancho .profiel pic col-sm-4 para pantalla de smartphone 	*/

@media (max-width:400px){
	.col-sm-4{
		padding-top: 65px;
		padding-right: 20px;
	}
}
@media (max-width:880px){
	.col-sm-4{
		width: 100%;
		padding-top: 20px;
		
	}
}

@media (min-width:769px) and (max-width:1024px){
	.col-sm-4{
		width: 100%;
		padding-top: 20px;
	}
}

@media (max-width:1024px){
	.col-sm-5{
		width: 100%;
	}
}

@media (min-width:1024px){
	.col-sm-5{
		width: 65%;
	}
}

@media (min-width:769px) and (max-width:1300px){
	.col-sm-4{
		width: 30%;
	}
}

@media (max-width:564px){
	.p{
		text-align: center;
	}
}

@media (min-width:565px){
	.p{
		text-align: justify;
	}
}

/* col-sm-7 */
.col-sm-7{
	width: 80%;
	float:right;
}

/* col-sm-9 */
.col-sm-9{
	width: 75%;
	float:right;
	margin-left:0px;
	margin-right:0px;
	padding-bottom: 25px;
	background-color: #f9f9f9;
}

@media (max-width: 1024px){
	.col-sm-9{
		width: 100%;
	}
}

/* col-sm-3*/
.col-sm-3{
	width: 23%;
	height: 100%;
	top: -20px;
	left: 0px;
	right: 0px;
	float:left;
	position: fixed;
	display: block;

}

@media (max-width: 1024px){
	.col-sm-3{
		display: none;
		width: 0%;
	}
}

/* ==========================================================
! 2. Side Menu
========================================================== */
nav{
	height: 100%;
	background-color: #2d2d2d;
	margin-top: 0px;
	margin-bottom: 0px;
}

ul.nav{
	padding-top: 150px;
	list-style: none;
	display: block;
}

.borde{
	width: 99%;
	height: 50px;
	border: 1px solid #323232;
	overflow: hidden;
}

.menu{
	position: relative;
	margin:10px;
	padding-right: 20px;
	float: right;
	color: white;
	opacity: .6;
	font-size: 1.2em;
	-webkit-transition: opacity .2s;
}

div.barra{
	position: absolute;
	height: 50px;
	width: 0px;
	background-color: #aaa;
	opacity: .1;
	-webkit-transition: width .2s;
	-moz-transition: width .2s;
	-ms-transition: width .2s;
	-o-transition: width .2s;
}

li:hover div.barra{
	width: 100%;
}

li:hover p.menu{
	opacity: 1;
}

/* ==========================================================
! 3. Propiedades de contenido
========================================================== */
.titulo-principal{
	color: #59A6C7;
	border-bottom: 1px solid #59A6C7;
	margin-top: 0px;
	margin-bottom:0px;
	padding-top: 50px;
    padding-bottom: 5px;
	text-transform: uppercase;
	font-size: 48px;
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
	
}

.titulo-secundario{
	color: #2a5479;
	border-bottom: 1px solid #2a5479;
    margin-top: 0px;
	margin-bottom: 10px;
	padding-top: 60px;
	padding-bottom: 1px;
	text-transform: uppercase;
	font-size: 36px;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
}

.subtitulo{
	color: #3aa4d6;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 24px;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	margin-top: 0px;
	margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 10px;
}

p{
	font-size: 16px;
	color: #555555;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	text-align: justify;
	margin-top: 0px;
	margin-bottom: 20px;
}

@media (max-width:768px){
	.titulo-principal {
		border-bottom: 3px solid #59A6C7;
		margin-bottom: 1px;
		padding-bottom: 5px;
		text-align: center;		
		margin-left: 0px;
    	margin-right: 0px;
	}
	
	h1{
		margin-right: 100px;
    	margin-left: 260px;
	}
	
	.titulo-secundario{
		border-bottom: 3px solid #2a5479;
		margin-bottom: 1px;
		padding-bottom: 1px;
		text-align: justify;
	}

	.subtitulo{
		padding-top: 5px;
    	padding-bottom: 10px;
		margin-bottom: 0px;
	}
	
	p{
		margin-bottom: 0px;
		font-size: 14px;
	}
}

@media(width:768px){
	.col-sm-5{
		width: 90%;
		padding-top: 0px;
	}
}

@media(width:768px){
	.col-sm-7{
		width: 85%;
		float: right;
	}
}


ul{
	display: block;
    -webkit-padding-start: 0px;
}

li{
	display: list-item;
	font-style: normal;
	list-style-position: inside;
	text-align: left;
}

/* ==========================================================
! 4. Profile Pic
========================================================== */
.margen-superior{
	margin-top:60px;
}

.profile-pic{
  	border-radius: 100%;
  	-moz-border-radius: 100%;
  	-webkit-border-radius: 100%;
  	width: 220px;
  	height: 220px;
  	border: 5px solid #249991;
  	overflow: hidden;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}

.profile-pic img{
  	width: 200px;
  	height: 200px;
  	margin-top: 10px;
  	border-radius: 100%;
  	-moz-border-radius: 100%;
  	-webkit-border-radius: 100%;
  	overflow: hidden;
  	-webkit-transition: all 0.3s ease-in-out;	
	-moz-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

@media (min-width: 240px) and (max-width: 768px){
	.profile-pic {
		width: 200px;
  		height: 200px;
		overflow: hidden;
	}
	
	.profile-pic img {
		margin-top:6px;
		width: 188px;
  		height: 188px;
	}
}

/*@media (min-width: 1024px){
	.profile-pic {
		margin-left: -5px;
		margin-right: 50px;
	}
}*/

/* ==========================================================
! 5. Section
========================================================== */
/*section{
	background-color: 
}*/

/* ==========================================================
! 6. Article
========================================================== */
article{
	margin-top: 0px;
	margin-right: 100px;
	
}
/* ==========================================================
! 6. Article
========================================================== */
article.profile{
	margin-left: 50px;
}

/* ==========================================================
! 6.3 Article Education
========================================================== */
.list-style{
	list-style-position: inside;
	list-style: circle;
	display: block;
    line-height: 1;
}

.fecha-de-graduacion, .fecha-ingreso-retiro {
    font-size: 14px;
    font-style: italic;
    font-weight: 200;
}

/* ==========================================================
! 6.5 Article Skills
========================================================== */
.skills-list {
    list-style: none;
}

.progress {
    position: relative;
    height: 25px;
}

.progress-bar {
    background: #249991;
    width: 20%;
}

.progress > .progress-type {
    position: absolute;
    left: 0px;
    font-size: 13px;
    padding: 3px 30px 2px 10px;
    color: #ffffff;
    background-color: rgba(25, 25, 25, 0.2);
}

.progress > .progress-completed {
    position: absolute;
    right: 0px;
    font-weight: 800;
    padding: 3px 10px 2px;
    color: #888;
    font-size: 14px;
}

.progress{
	overflow:hidden;
	height:20px;
	margin-bottom:20px;
	background-color:#f5f5f5;
	border-radius:4px;
	-webkit-box-shadow:
	inset 0 1px 2px rgba(0,0,0,.1);
	box-shadow:inset 0 1px 2px rgba(0,0,0,.1);
}


.progress-bar{
	float:left;
	width:0;
	height:100%;
	font-size:12px;
	line-height:20px;
	color:#fff;
	text-align:center;
	background-color:#428bca;
	-webkit-box-shadow:
	inset 0 -1px 0 rgba(0,0,0,.15);
	box-shadow:inset 0 -1px 0 rgba(0,0,0,.15);
	-webkit-transition:width .6s ease;transition:width .6s ease;
}


.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

/* ==========================================================
! 8. Footer
========================================================== */
footer{
	background-color: #8F2C2E;
	padding: 10px;
	margin-left:0px;
	margin-bottom: 80px;
}

p.quote {
  color: #fff;
  padding-top: 20px;
  font-size: 20px;
  text-align: center;
}

p.author {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

/* ==========================================================
! 9. Responsive
========================================================== */
@media(min-width:320px) and (max-width:425px){
	.margen-superior{
		margin-top: 40px;
	}
	.col-sm-4{
		float: left;
		padding-top: 0px;
		padding-left: 0px;
		padding-right: 0px;
	}
	
}
@media(width:320px){
	.col-sm-4{
		width: 250px;
	}
}
@media(width:375px){
	.col-sm-4{
		width: 305px;
	}
}
@media(width:425px){
	.col-sm-4{
		width: 355px;
	}
}
@media(min-width:320px) and (max-width:768px){
	footer{
		padding-bottom: 40px;
	}
	
	p.quote {
	  	font-size: 16px;
		padding-top: 30px;
		padding-bottom: 10px;
	}
	
	p.author {
	  	font-size: 12px;
	}
	
}
